Language:        Cpp
# BasedOnStyle:  LLVM
AccessModifierOffset: -2
AlignAfterOpenBracket: Align
BreakBeforeBraces: Stroustrup
ColumnLimit: 200
AlwaysBreakTemplateDeclarations: Yes
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
RemoveBracesLLVM: true
FixNamespaceComments: true
PointerAlignment: Left
Cpp11BracedListStyle: true
MaxEmptyLinesToKeep: 1
IndentCaseLabels: true
IncludeBlocks: Regroup
SortIncludes: true
BreakConstructorInitializers: BeforeComma
