---
Checks: "*,
        performance-*,
        clang-analyzer-*,
        -hicpp-*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -boost*,
        -modernize-use-trailing-return-type,
	-modernize-use-nodiscard,
        -zircon-*,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -readability-identifier-length,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-owning-memory,
        -readability-named-parameter,
        -readability-magic-numbers,
        -readability-braces-around-statements,
        -readability-function-cognitive-complexity,
        -readability-convert-member-functions-to-static,
        -readability-math-missing-parentheses,
        -bugprone-easily-swappable-parameters,
        -cppcoreguidelines-avoid-do-while,
        -cert-err09-cpp,
        -cert-err61-cpp,
        -misc-throw-by-value-catch-by-reference,
        -misc-non-private-member-variables-in-classes,
"
HeaderFilterRegex: ''
FormatStyle:     none
