build/
.cache/
*~

doc/xml/
doc/html/
doc/latex/
doc/doxygen/
doc/_templates/ 
doc/_static/
doc/_build/
doc/sphinx_html/

dd_examples/

debugbuild/
buildumfpack/
intelbuild/
optbuild/
rocmbuild/
scalasca_build/

*.pdf
*.tex
*.aux
*.log
*.dvi
*.toc
*.out
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.fdb_latexmk
*.synctex.gz
*.fls
*.nav
*.snm
*.vrb
*.pyc
*.pyo
*.swp
*.swo
*.bak
*.orig
*.tmp
*.cache
*.ds_store
*.DS_Store
*.vscode/
.vscode/
*.m
*.vtu
*.pvtu
*~
octave-workspace
.projectile
conf.py
scalascacc
